<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
      <label for="">
        <input type="text" name="name"/>
      </label>
      <label for="">
        <input type="number"  name="age" />
      </label>
      <label for="">
        <input type="file" name="image" accept="image/*"/>
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
