<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <p>hello world</p>
    <i>I'm Steve Yonkeu, from NAHPI.</i>
    <!--<img src="{% static 'images/yk.jpeg'%}">-->
    <form action="{% url 'home'%}" method="post">
        {% csrf_token %}
        <label for="name">
            
            <input type="text" name="name" id="name">
        </label> 
        <label for="code">
            <input type="text" name="code" id="code">
        </label>
        <label for="lecturer">
            <input type="text" name="lecturer" id="lecturer">
        </label>
        <button type="submit">
            Submit
        </button>
    </form>
    <script src="{% static 'js/script.js' %}"></script/>
</body>
</html>